.search-field{
    background-color: lightgrey;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10%/50%;
}

*.search-box{
    margin: auto;
    background-color: lightgrey;
    height: auto;
    border: 0;
}

input.search-box {
    padding-right: 15px;
    padding-bottom: 3px;
    width: 70%;
}

.search-filters {
    margin: 12px;
}

input.search-box:focus{
    outline:none;
}

button.search-field{
    width: max-content;
    height: auto;
}
button.search-filters{
    width: fit-content;
    height: fit-content;
    background: lightgrey;
    border-radius: 2px;
}

.search-results {
    width: 360px;
    height:max-content;
    white-space: pre-wrap;
    text-align: left;
    margin:auto;
    margin-top: 15px;
}

@keyframes enlarge {
    from{

    }

    to{
        width: inherit;
    }
}