.app {
  text-align: center;
}

.company-title a {
  color: var(--navy);
  text-decoration: none;
}

.login {
  color: var(--navy);
  text-decoration: none;
}

.text-handler {
  margin: auto;
  width: fit-content;
}

.text-handler>textarea {
  min-width: 20em;
  min-height: 2em;
  height: fit-content;
}

::-webkit-resizer {
  background: url(../public/resize.png) no-repeat scroll 0px 0px;
  background-size: 1em;
}

.text-handler>button {
  display: block;
  margin: auto;
}